@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --bg-color: #111111;
  --text-color: #fff;
  --name-text-color: #ff3343;
  --btn-color: #c91b28;
  --left-section-color: #181818;
  --card-bg-color: #1e1e1e;
  --work-header-color: #ef4040;
  --ff-primary: 'Montserrat', sans-serif;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: var(--ff-primary);
  background-color: var(--bg-color);
  font-size: 62.5%;
}

header {
  min-height: 100vh;
}

/* Navbar */
nav,
.lists,
main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  margin-right: 60px;
  margin-left: 50px;
}

.logo {
  width: 50%;
}

.list-item {
  color: var(--text-color);
  list-style-type: none;
  margin-left: 40px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1.6rem;
}

/* Hero Section */
main {
  color: var(--text-color);
  justify-content: center;
}

.hero-image {
  width: 650px;
}

.intro h2 {
  color: var(--name-text-color);
  font-size: 1.6rem;
}

.intro h1 {
  font-size: 6.5rem;
}

.intro p {
  margin: 2rem 0;
  font-size: 1.6rem;
}

.btn {
  background-color: var(--btn-color);
  color: var(--text-color);
  padding: 1.5rem 3rem;
  text-transform: uppercase;
  cursor: pointer;
  border: 0;
}

/* Card Section */
#background {
  background-color: var(--left-section-color);
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100vh;
  z-index: -1;
}

.wrapper {
  padding: 6rem 0;
}

.card-2 .card-logo {
  width: 50px;
}

.card-logo {
  width: 60px;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  position: relative;
  z-index: 3;
}

.card {
  background-color: var(--card-bg-color);
  width: 260px;
  height: 270px;
  padding: 3.5rem 2rem;
  padding-left: 4rem;
}

.card-2 {
  background-color: var(--btn-color);
}

.card h3 {
  font-size: 2.3rem;
  margin: 10px 0;
  color: var(--text-color);
}

.wrapper .cards .card h5 {
  font-size: 1.4rem;
  color: var(--btn-color);
  margin-top: 1.5rem;
  text-transform: uppercase;
  cursor: pointer;
}

.wrapper .cards .card h5 i {
  color: var(--btn-color);
}

.wrapper .cards .card-2 h5,
.wrapper .cards .card-2 h5 i {
  color: var(--text-color);
}

.card p {
  font-size: 1.6rem;
  margin: 1.8rem 0;
  color: var(--text-color);
}

.box p {
  font-size: 1.6rem;
  color: var(--text-color);
}

.box-1 h2 {
  font-size: 2.5rem;
  color: var(--text-color);
}

.box-1 {
  grid-area: one;
  width: 100%;
}

.box h1 {
  color: var(--work-header-color);
  font-size: 4rem;
}

.flex-1 h1 {
  font-size: 9rem;
}

.box-2 {
  grid-area: two;
  background-color: var(--card-bg-color);
  padding: 2rem 3.5rem;
  width: 100%;
}

.box-3 {
  grid-area: three;
  background-color: var(--card-bg-color);
  padding: 2rem 3.5rem;
  width: 100%;
}

.box-4 {
  grid-area: four;
  background-color: var(--card-bg-color);
  padding: 2rem 3.5rem;
  width: 100%;
}

.box-5 {
  grid-area: five;
  background-color: var(--card-bg-color);
  padding: 2rem 3.5rem;
  width: 100%;
}

.boxes {
  position: relative;
  z-index: 3;
  margin: 10rem 35rem;
  display: grid;
  gap: 1.5rem;
  place-items: center;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(3, 1fr);

  grid-template-areas:
    'one two three'
    'one four five';
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

/* Projects Section */
.project-work {
  margin-top: 10rem;
}

.featured-projects {
  color: var(--text-color);
  margin: 3rem 25rem;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2.5rem 9.5rem;
}

.heading h1 {
  font-size: 3rem;
}

.heading p {
  margin: 0.8rem 0;
  font-size: 1.6rem;
}

.projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.project h3 {
  margin: 1.5rem 0;
  font-weight: 900;
  font-size: 1.6rem;
}

.project h5 {
  color: var(--btn-color);
  text-transform: uppercase;
  font-size: 1.4rem;
  cursor: pointer;
}

.images {
  background-color: var(--card-bg-color);
}

.work-image {
  width: 390px;
  height: 350px;
  padding: 6rem 2rem;
}

/* Contact Section */
.contact-us {
  margin: 6rem 30rem;
  color: var(--text-color);
}

.contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 4rem;
  background-color: var(--card-bg-color);
}

.contact h1 {
  font-size: 4rem;
}

.contact p {
  margin: 2.5rem 0;
  font-size: 1.6rem;
}

.nav {
  color: var(--text-color);
}

.nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.nav ul li {
  list-style-type: none;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1.3rem;
  margin-bottom: 2.5rem;
}

/* Footer */
footer {
  min-height: 15vh;
  background-color: var(--card-bg-color);
}

.socials > img {
  margin-right: 2.5rem;
}

.footer-logo {
  width: 7%;
  margin-left: 31rem;
  margin-top: 4rem;
  display: inline-block;
}

.socials {
  text-align: center;
  margin-top: -3.5rem;
}
